In [ ]:
# prompt: Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

%%markdown
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [ ]:
# prompt: Write an introductory sentence about the notebook such as the follows:
# In this notebook, Data Science Tools and Ecosystem are summarized.

%%markdown

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# prompt: Start the cell with an overview line such as:
# Some of the popular languages that Data Scientists use are:
# Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

%%markdown
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

In [ ]:
# prompt: Some of the commonly used libraries used by Data Scientists include:
# Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

%%markdown
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

In [ ]:
# prompt: Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

%%markdown

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| VS Code            |

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| VS Code            |

In [ ]:
# prompt:  Create a markdown cell introducing arithmetic expression examples
# Add a line in this cell with H3 style heading with text like:
# Below are a few examples of evaluating arithmetic expressions in Python.

%%markdown
Below are a few examples of evaluating arithmetic expressions in Python.

Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# prompt: Create a code cell to multiply and add numbers
# In this code cell evaluate the expression (3*4)+5.
# Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.
# Then execute the cell to ensure the expression returns the expected output of 17.

# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [ ]:
# prompt: In this code cell write an expression that converts 200 minutes into hours.
# Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.
# Run the cell to evaluate the expression.

# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

In [ ]:
# prompt: Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

%%markdown
**Objectives:**

*   List popular languages for Data Science.
*   List commonly used libraries for Data Science.
*   List popular tools for Data Science.
*   Evaluate arithmetic expressions in Python.
*   Convert minutes to hours.

**Objectives:**

*   List popular languages for Data Science.
*   List commonly used libraries for Data Science.
*   List popular tools for Data Science.
*   Evaluate arithmetic expressions in Python.
*   Convert minutes to hours.

In [ ]:
# prompt:  What the cell should contain:
# Start with a bolded heading:
# Write the word "Objectives:" in bold at the top of the cell to make it stand out.
# Use a bulleted list to present each objective as a question-and-answer pair:
# Objective 1: Popular languages
# Pose a question like: "What are some of the popular languages used for Data Science?"
# Follow it with an answer that lists a few languages like Python, R, SQL, etc., and briefly explain why they're popular.
# Objective 2: Libraries
# Ask: "Which libraries are commonly used by Data Scientists, and what are they used for?"
# Provide a short list of 3–5 libraries and mention their uses (e.g., NumPy for math, Pandas for dataframes).
# Objective 3: Markdown tables
# Question: "How can tables be created using Markdown in Jupyter Notebooks?"
# Briefly explain the structure using pipes and dashes, and mention that it's useful for listing tools or comparing data.
# Objective 4: Arithmetic operations
# Question: "How do you perform arithmetic operations in a code cell using Python?"
# Explain that simple math expressions like multiplication and addition can be typed directly into code cells.
# Objective 5: Unit conversion
# Question: "How do you convert time units, such as minutes to hours, using Python?"
# Mention that dividing the number of minutes by 60 will give you the result in hours.

%%markdown
**Objectives:**

*   **What are some of the popular languages used for Data Science?** Python, R, and SQL are popular. Python is versatile for many tasks, R is strong for statistics, and SQL is essential for database interaction.
*   **Which libraries are commonly used by Data Scientists, and what are they used for?** Libraries like NumPy (numerical operations), Pandas (data manipulation), and Scikit-learn (machine learning) are frequently used for various data science tasks.
*   **How can tables be created using Markdown in Jupyter Notebooks?** Tables are created using pipes (`|`) to define columns and dashes (`-`) to separate the header from the data. This is useful for organizing information like lists of tools.
*   **How do you perform arithmetic operations in a code cell using Python?** Simple arithmetic expressions like addition, subtraction, multiplication, and division can be typed directly into code cells and executed.
*   **How do you convert time units, such as minutes to hours, using Python?** You can convert minutes to hours by dividing the number of minutes by 60.

**Objectives:**

*   **What are some of the popular languages used for Data Science?** Python, R, and SQL are popular. Python is versatile for many tasks, R is strong for statistics, and SQL is essential for database interaction.
*   **Which libraries are commonly used by Data Scientists, and what are they used for?** Libraries like NumPy (numerical operations), Pandas (data manipulation), and Scikit-learn (machine learning) are frequently used for various data science tasks.
*   **How can tables be created using Markdown in Jupyter Notebooks?** Tables are created using pipes (`|`) to define columns and dashes (`-`) to separate the header from the data. This is useful for organizing information like lists of tools.
*   **How do you perform arithmetic operations in a code cell using Python?** Simple arithmetic expressions like addition, subtraction, multiplication, and division can be typed directly into code cells and executed.
*   **How do you convert time units, such as minutes to hours, using Python?** You can convert minutes to hours by dividing the number of minutes by 60.

In [2]:
# prompt: In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

%%markdown
## Author
Jatin Lilani

## Author
Jatin Lilani